@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-Poppins scroll-smooth;
}

body {
    @apply box-border bg-gray-900 text-gray-700 flex items-center justify-center min-h-screen font-Poppins; 
  }

  @keyframes scaleIn {
    0% {
      transform: rotateY(0deg);
    }
    25% {
      transform: rotateY(-40deg);
    }
    50% {
      transform: rotateY(-90deg);
    }
    75% {
      transform: rotateY(-140deg);
    }
    100% {
      transform: rotateY(-180deg);
    }
  }

  .page-right {
    position: absolute;
    right: 0;
    transform-origin: left;
    transform-style:preserve-3d;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
  }
  .page-right .page-front {
    transform: rotateY(0deg) translateZ(1px);
  }
  .page-back {
    transform: rotateY(180deg) translateZ(1px);
  }

  .turn {
    transform: rotateY(-180deg);
  }